@charset "UTF-8";

/* PC画面 */
/*  ページ全体  */
body {
    margin: 0%;
    background-color:  #F6FCFF; /*背景の色*/
    text-align: center; /*文章センターそろえ*/
}

/*  header(ヘッダー)  */
.header {
    background-color: #6DD2FF;
    font-size: 35px;
    margin-bottom: 15px;
    text-align: left;
}

/*  container(入力フォーム)  */
/* 今回のお題 */
.container .contentheader { 
    font-weight: bold;
}

/* 『お題名』 */
.container .contentbody { 
    font-weight: bolder;
    font-size: 28px;
}

/* 入力フォーム */
.underbar_dotted {
    border-bottom: dotted;
    border-color: #FF0000;
    border-width: 3px;
}

/* 入力要項（箇条書き) */
p {
    margin-bottom: 0%;
    font-size: 18px;
}

/* 入力欄 */
input {
    width: 230px;
    margin-top: 1px;
    margin-bottom: 10px;
    padding: 4px;
    border: 1px solid #6E6E6E;
    border-radius: 3px;
}

/* 送信ボタン */
.push_bottom {
    width: 150px;
    padding: 8px;
    border: 2px solid #6E6E6E;
    border-radius: 5px;
    font-size: 20px;
}



/* スマホ(横幅480px以下の場合) */
@media screen and (max-width:500px) {
    
    /*  header(ヘッダー)  */
    .header {
        font-size: 120px;
        margin-bottom: 70px;
    }


    /*  container(入力フォーム)  */
    /* 今回のお題 */
    .container .contentheader { 
        font-size: 40px;
    }

    /* 『お題名』 */
    .container .contentbody { 
        font-size: 62px;
        margin-bottom: 5%;
    }

    /* 入力フォーム */
    .underbar_dotted {
        border-width: 7px;
        font-size: 53px;
    }

    /* 入力要項（箇条書き) */
    p {
        margin-top: 8%;
        font-size: 40px;
    }

    /* 入力欄 */
    input {
        width: 550px;
        padding: 28px;
        border: 2px solid #6E6E6E;
        border-radius: 10px;
    }

    /* 送信ボタン */
    .push_bottom {
        width: 400px;
        padding: 10px;
        border: 5px solid #6E6E6E;
        font-size: 50px;
    }
}